{% extends 'sitnow/about.html' %}
{% load staticfiles %}


{% block title_block %}
Sit Now - About Us
{% endblock %}



{% block about_block %}
       <div>
            <div class="aboutus-content">
                <h1>About us</h1>
                <p>A seat finder application to get the nearest location to sit and take
                    a rest in the University of Glasgow according to various user requirements.</p>
                <p>The objective of this application is to provide users, who happen to be at the UoG campus, with the
                    location of a place to have a seat.
                    Since the facilities vary in each area, users can find the most suitable one by filtering by certain
                    requirements.</p>
                <p>Requirements can be a socket and wifi access, food service (microwave/ hot water tap), quiet study,
                    etc.
                    Apart from giving information about specific spots, the app can guide users to the desired places.
                    They are welcome to rate and leave comments on each location. For example, if the facilities are
                    under
                    renovation or short-term closure.
                    This would ensure users are receiving the most up-to-date information.</p>
            </div>

            <div class="advantage">
                <div class="row d-flex justify-content-center">
                    <div class="col-3 row icon-card">
                        <i class="fa fa-thumbs-o-up fa-3x col-3" aria-hidden="true"></i>
                        <span class="col-9">Easy and efficient to use</span>
                    </div>
                    <div class="col-3 row icon-card">
                        <i class="fa fa-search fa-3x col-3" aria-hidden="true"></i>
                        <span class="col-9">Find the nearest suitable locations</span>
                    </div>
                    <div class="col-3 row icon-card">
                        <i class="fa fa-map-pin fa-3x col-3" aria-hidden="true"></i>
                        <span class="col-9">Diverse choices of seating places</span>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}