{% extends 'sitnow/base.html' %}
{% load staticfiles %}

{% block title_block %}
SitNow - Tutorial
{% endblock %}

{% block header_block %}
<link rel="stylesheet" href="{% static 'css/tutorial.css' %}">
{% endblock %}

{% block body_block %}
<div class="container clearfix row">
    <div class="col-2">
        <nav class="nav flex-column text-center">
            <button type="button" class="btn btn-outline-secondary btn-sm">
                <a href="{% url 'sitnow:aboutus' %}" class="text-decoration-none">About Us</a>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm">
                <a href="{% url 'sitnow:forwhom' %}" class="text-decoration-none">For Whom</a>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm">
                <a href="{% url 'sitnow:tutorial' %}" class="text-decoration-none">Tutorial</a>
            </button>
        </nav>
    </div>
    <div class="col-10 container">
        {% block about_block %}
        {% endblock %}
    </div>
</div>

{% endblock %}

