{% extends 'sitnow/base.html' %}
{% load staticfiles %}

{% block title_block %}
SitNow - Tutorial
{% endblock %}

{% block header_block %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/tutorial.css' %}">
{% endblock %}

{% block body_block %}
<div id="about-content" class="row container">
    <div class="col-2">
        <nav id="side-btns" class="nav flex-column text-center">
            <a type="button"  href="{% url 'sitnow:aboutus' %}" class="btn btn-outline-dark btn-sm side-btn">
                About Us
            </a>
            <a type="button" href="{% url 'sitnow:forwhom' %}" class="btn btn-outline-dark btn-sm side-btn">
                For Whom
            </a>
            <a type="button" href="{% url 'sitnow:tutorial' %}" class="btn btn-outline-dark btn-sm side-btn">
                Tutorial
            </a>
        </nav>
    </div>
    <div class="col-10 container">
        {% block about_block %}
        {% endblock %}
    </div>
</div>

{% endblock %}

