{% extends 'sitnow/base.html' %}
{% load staticfiles %}

{% block title_block %}
SitNow - Advantages
{% endblock %}

{% block header_block %}
<link rel="stylesheet" href="{% static 'css/advantages.css' %}">
{% endblock %}

{% block body_block %}

<div class="container clearfix">
  <div class="card-deck mb-4">
        <nav class="nav flex-column text-center">
            <button type="button" class="btn btn-outline-secondary btn-sm">
                <a href="{% url 'sitnow:aboutus' %}" class="text-decoration-none">About Us</a>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm">
                <a href="{% url 'sitnow:advantages' %}" class="text-decoration-none">Advantages</a>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm">
                <a href="{% url 'sitnow:forwhom' %}" class="text-decoration-none">For Whom</a>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm">
                <a href="{% url 'sitnow:tutorial' %}" class="text-decoration-none">Tutorial</a>
            </button>
        </nav>
        <div class="card mb-3">
            <h1>Advantages</h1>
            <p>explanation......</p>
            <div class="row">
        
        <div class="col-lg-4">
          <img class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image" width="140" height="140">
          <h2 class="text-center">Heading</h2>
          <p>Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
            vehicula ut id elit.</p>
        </div>
        <div class="col-lg-4">
          <img class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image" width="140" height="140">
          <h2 class="text-center">Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
            mattis consectetur purus sit amet fermentum.</p>
        </div>
        <div class="col-lg-4">
          <img class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image" width="140" height="140">
          <h2 class="text-center">Heading</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            felis euismod semper.</p>
        </div>
      </div>
        </div>
    </div>
  </div>


    {% endblock %}