<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            Let's Go - 
            {% block title_block %} 
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
          {% block body_block %}
          {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'sitnow:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'sitnow:register' %}">Sign Up</a></li>
                <li><a href="{% url 'sitnow:login' %}">Login</a></li>
            {% endif %}
                <li><a href="{% url 'sitnow:index' %}">Index</a></li>
                <li><a href="{% url 'sitnow:about' %}">About</a></li>
            </ul>
        </div>
    </body>
</html>