{% extends 'sitnow/base.html' %}
{% load staticfiles %}

{% block title_block %}
SitNow - My Favorite
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
<div id="content">
    <div class="container clearfix">
        <div class="user-detail">
            <div class="user-info">
                {% if request.user.is_authenticated %}
                    <h2 id="user-name">Welcome {{ request.user.username }}</h2>
                {% else %}
                    <a href="{% url django.contrib.auth.login %}">Login</a>
                {% endif %}
            </div>

            <div id="user-photo">
                <img src="https://picsum.photos/112/100" alt="account photo">
            </div>
        </div>

        <div class="favorites">
            <div class="wel-grids row">
                <div class="col-md-3 wel-grid">
                    <nav class="side-navigation">
                        <ul>
                            <li><a href="{% url 'sitnow:favorites' %}">Favorite</a></li>
                            <li><a href="{% url 'sitnow:update_profile' %}">Settings</a></li>
                            <li><a href="{% url 'sitnow:logout' %}">Log out</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-9 wel-grid">
                    <div class="card favorite-place" value="">
                        <div class="card-body">
                            <h2 id="card-title">building name</h2>
                            <h4 id="card-subtitle">location name</h4>
                            <div id="card-text">address</div>
                            <div id="rating">rating</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    {% endblock %}