{% extends 'sitnow/about.html' %}
{% load staticfiles %}

{% block title_block %}
SitNow - For Whom
{% endblock %}


{% block about_block %}
    <div>
      <h1>For Whom?</h1>
      <div class="row">

        <div class="col-lg-4">
          <div class="card-header shadow-sm">
            <h4 class="my-0 font-weight-normal">Students</h4>
          </div>
          <img class="card-img-bottom" src="{% static 'img/for_whom/student.jpg' %}" alt="Student image" style="width:100%">
          <div class="card-body">
            <p class="text-justify">This is Elvin. He is the leader of UoG football club.
            During a thrilling football match, his ankle was severely injured. Ｈe could not stand for a long time.
            Therefore, he desperately needs to know where to take a rest comfortably during gap time between courses.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card-header shadow-sm">
            <h4 class="my-0 font-weight-normal">Staff</h4>
          </div>
          <img class="card-img-bottom" src="{% static 'img/for_whom/staff.jpg' %}" alt="Stsff image" style="width:100%">
          <div class="card-body">
            <p class="text-justify">This is Olivia. She works for UoG as a senior event coordinator.
            Instead of sitting at her office, she spends most of her time working onsite in different school buildings.
            It's important she could find suitable places to hold meetings, meet with guests and spend her break time in school buildings.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card-header shadow-sm">
            <h4 class="my-0 font-weight-normal">Visitors</h4>
          </div>
          <img class="card-img-bottom" src="{% static 'img/for_whom/visitor.jpg' %}" alt="Visitor image" style="width:100%">
          <div class="card-body">
            <p class="text-justify">This is Amelia. She attends a conference at UoG.
            She did not perform well in the first session. She wants to know where she can have some coffee and prepare for the next session.
            Moreover, she needs a place to continue her project with teammates.</p>
          </div>
        </div>

{% endblock %}