{% extends 'sitnow/about.html' %}
{% load staticfiles %}

{% block title_block %}
SitNow - For Whom
{% endblock %}

{% block header_block %}
<link rel="stylesheet" href="{% static 'css/forwhom.css' %}">
{% endblock %}

{% block about_block %}
    <div>
      <h1>For Whom?</h1>
      <div class="row">

        <div class="col-lg-4">
          <div class="card-header shadow-sm">
            <h4 class="my-0 font-weight-normal">Students</h4>
          </div>
          <img class="card-img-bottom" src="{% static 'img/for_whom/student.jpg' %}" alt="Student image" style="width:100%">
          <div class="card-body">
            <p>This is Elvin. </p>
            <p>He is the leader of the UoG football club.</p>
            <p>During a thrilling football match, his ankle was severely injured. The recovery can take up to 4 months. To continue his studies, he must not stand for a long time. </p>
            <p>Therefore, he desperately needs to know where he can rest comfortably during gaps in his schedule.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card-header shadow-sm">
            <h4 class="my-0 font-weight-normal">Staff</h4>
          </div>
          <img class="card-img-bottom" src="{% static 'img/for_whom/staff.jpg' %}" alt="Stsff image" style="width:100%">
          <div class="card-body">
            <p>This is Olivia. </p>
            <p>She works for the UoG as a senior event coordinator.</p>
            <p>Instead of sitting at her office. She spends most of her time working onsite in different school buildings.</p>
            <p>It is important that she has the knowledge of suitable places to hold urgent meetings, attend guests and spend her break in each school building.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card-header shadow-sm">
            <h4 class="my-0 font-weight-normal">Visitors</h4>
          </div>
          <img class="card-img-bottom" src="{% static 'img/for_whom/visitor.jpg' %}" alt="Visitor image" style="width:100%">
          <div class="card-body">
            <p>This is Amelia.</p>
            <p>She is from Ireland. She attends a Student Marketing Competition at University of Glasgow.</p>
            <p>She did not perform well in the first pitch. She wants to know where she can have some coffee and prepare for the next pitch.</p>
            <p>Moreover, she sometimes needs a place to continue her project with teammates.</p>
          </div>
        </div>

{% endblock %}