{% extends 'sitnow/base.html' %}
{% load staticfiles %}

{% block title_block %}
Sit Now
{% endblock %}

{% block header_block %}
    {% comment %} Google {% endcomment %}
    <script type="text/javascript" src="{% static 'js/IndexMap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_JS_API_KEY }}&callback=initMap"></script>
{% endblock %}

{% block body_block %}
    <div id="content" class="container">
            <div id="parent-panel" class="wel-grids row ">
                <div id="left-panel" class="col-5 wel-grid">
                    <div class="slogan">
                        <h2 class="title">Sit Now</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Consequuntur cupiditate quibusdam necessitatibus fugit quo
                            consequatur itaque rerum dicta corporis dolores.
                        </p>
                    </div>
                </div>

                <div id="right-panel" class="col-7 wel-grid ">
                    <div class="search">
                    <div id="google_map" class="col-6" hidden>
                        <div id="map"></div>
                    </div>
                    <div id="search_form" class="card">
                        <h5 class="card-title">Start finding a seat for you! </h5>
                        <form
                        id="category_form"
                        method="post"
                        action="{% url 'sitnow:result' %}"
                        >
                        <div class="form-group">
                            <span>Choose your start location</span>
                            <select id="location" name="location" required>
                                <option value="">- Select your start location -</option>
                                <option id="current_location" data-lat="" data-lng="" value=""  hidden="true" disabled="true">Current Location</option> 
                                {% for location in locations %} 
                                    <option data-lat="{{location.latitude}}" data-lng="{{location.longitude}}" value="{{location.building}}">{{location.building}}</option> 
                                {% endfor %} 
                            </select>
                        </div>
                        {% csrf_token %} 
                        {% for hidden in form.hidden_fields %} 
                            {{ hidden }} 
                        {% endfor %} 
                        
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.errors }} 
                                {{ field.help_text }} 
                                {{ field }}
                            </div>
                        {% endfor %}
                        
                        <div class="form-group">
                        <p>Choose your filter</p>
                        <button id="hasWifi" type="button" class="btn btn-light">WIFI</button>
                        <button id="hasMicrowave" type="button" class="btn btn-light">Microwave</button>
                        <button id="hasSocket" type="button" class="btn btn-light">Socket</button>
                        <button id="hasFood" type="button" class="btn btn-light">Food</button>
                        <button id="noEating" type="button" class="btn btn-light">Eating</button>
                        <button id="hasCoffee" type="button" class="btn btn-light">Coffee</button>
                        <button id="hasComputer" type="button" class="btn btn-light">Computer</button>
                        </div>
                            <div class="text-center"><button type="submit" name="submit" class="float-center btn-lg btn btn-primary" value="Search">Search</button></div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


{% endblock %}