{% extends 'sitnow/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title_block %}
Sit Now
{% endblock %}

{% block header_block %}
    {% comment %} Google {% endcomment %}
    <script type="text/javascript" src="{% static 'js/IndexMap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_JS_API_KEY }}&callback=initMap"></script>
{% endblock %}

{% block body_block %}
    <div id="index-content" class="container">
            <div id="parent-panel" class="wel-grids row ">
                <div id="left-panel" class="col-md-12 col-lg-7 wel-grid">
                    <div class="slogan">
                        <h1 id="slogan-title" class="title display-2"><strong>Sit Now</strong></h1>
                        <strong class="d-sm-none d-md-block">
                            A seat finder application to get the nearest location to sit and take a rest in the University of Glasgow according to various user requirements.
                        </strong>
                    </div>
                </div>

                <div id="right-panel" class="col-md-12 col-lg-5 wel-grid ">
                    <div class="search">
                    <div id="google_map" class="col-7" hidden>
                        <div id="map"></div>
                    </div>
                    <div id="search_form">
                        <h3 class="card-title d-sm-none d-md-block">Start finding your seat! </h3>
                        <form
                        id="category_form"
                        method="post"
                        action="{% url 'sitnow:result' %}"
                        >
                        <div class="form-group">
                            <p>Choose your start location</p>
                            <select id="location" name="location" class="form-control" required>
                                <option value="">- Select your start location -</option>
                                <option id="current_location" data-lat="" data-lng="" value=""  hidden="true" disabled="true">Current Location</option> 
                                {% for location in locations %} 
                                    <option data-lat="{{location.latitude}}" data-lng="{{location.longitude}}" value="{{location.building}}">{{location.building}}</option> 
                                {% endfor %} 
                            </select>
                        </div>
                        {% csrf_token %} 
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        <div class="form-group form">
                            {{ field|as_crispy_field }}
                        </div>
                        {% endfor %}
                        
                        <div id="index-btns" class="form-group">
                        <p>Choose your filter</p>
                        <button id="hasTable" type="button" class="btn btn-light choice-btn">Table</button>
                        <button id="hasWifi" type="button" class="btn btn-ligh choice-btnt">WIFI</button>
                        <button id="hasSocket" type="button" class="btn btn-light choice-btn">Socket</button>
                        <button id="noEating" type="button" class="btn btn-light choice-btn">No Eating</button>
                        <button id="hasComputer" type="button" class="btn btn-light choice-btn">Computer</button>
                        <br/>
                        <button id="hasFood" type="button" class="btn btn-light choice-btn">Providing Food</button>
                        <button id="hasCoffee" type="button" class="btn btn-light choice-btn">Providing Coffee</button>
                        <button id="hasMicrowave" type="button" class="btn btn-light choice-btn">Microwave Oven</button>
                        </div>
                            <div class="text-center"><button id="submit-btn" type="submit" name="submit" class="float-center btn-lg btn btn-block" value="Search">Search</button></div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


{% endblock %}