{% extends 'sitnow/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title_block %}
Login
{% endblock %}

{% block header_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_block %}
<div>
    <div class="container">
        <div class="account-switch text-center">
            <a class="login" href="{% url 'sitnow:login' %}">Log In</a>
            <div class="boundary"></div>
            <a class="signup" href="{% url 'sitnow:register' %}">Sign Up</a>
        </div>

        
        <form id="login_form" class="d-flex justify-content-center" method="post" action="{% url 'sitnow:login' %}">
            {% csrf_token %}
            <div>
                <div class="form-group">Username: <input type="text" name="username" value="" width="50px"/></div>
                <div class="form-group">Password: <input type="password" name="password" value="" width="50px"/></div>
                <div class="form-group d-flex justify-content-center">
                    <button id="login-btn" class="btn" type="submit" class="">Submit</button>
                </div>
            </div>
        </form>
        
    </div>
</div>


{% endblock %}