{% extends 'sitnow/base.html' %}
{% load staticfiles %}

{% block title_block %}
Login
{% endblock %}

{% block header_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_block %}
<div>
    <div class="container clearfix">
        <div class="account-switch" style="text-align: center;">
            {% comment %} <h3 class="h3 mb-3 font-weight-normal">Login to SitNow</h3> {% endcomment %}
            <a class="login" href="{% url 'sitnow:login' %}">Log In</a>
            <div class="boundary"></div>
            <a class="signup" href="{% url 'sitnow:register' %}">Sign Up</a>
            </ul>
        </div>

        
            <form id="login_form" class="form-signin" role="form" method="post" action="{% url 'sitnow:login' %}">
                {% csrf_token %}
                {% comment %} the name attribute in input tag should match the name in model {% endcomment %}
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" name="username" value="" class="form-control" placeholder="Username" required
                    autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="text" name="password" value="" class="form-control" placeholder="Password" required>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        
    </div>
</div>


{% endblock %}