{% extends 'sitnow/base.html' %}
{% load staticfiles %}

{% block title_block %}
SitNow - Map
{% endblock %}

{% block header_block %}
        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}" </script>
        {% comment %} Google {% endcomment %}
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_JS_API_KEY}}&callback=initMap"></script>
        <script type="text/javascript" src="{% static 'js/MapMap.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block body_block %}
<div id="content">
    <div class="container clearfix">
        <div class="row wel-grids">
            <div class="col-md-6 wel-grid">
                <div class="map">
                    <div id="map"></div>
                </div>
            </div>

            <div class="col-md-6 wel-grid">
                <div id="place"></div>
                <div id="comments"></div>
                {% if user.is_authenticated %}
                <div id="new_comment"></div>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
