{% extends 'sitnow/base.html' %}
{% load staticfiles %}

{% block title_block %}
Sit Now - Map
{% endblock %}

{% block header_block %}
        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}";{% if user.is_authenticated %} window.authenticated=true {% endif %}; </script>
        <script type="text/javascript" src="{% static 'js/MapMap.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/map.css' %}">
        {% comment %} Google {% endcomment %}
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_JS_API_KEY}}&callback=initMap"></script>
{% endblock %}

{% block body_block %}
<div id="map-content">
    <div class="container clearfix">
        <div class="row wel-grids">
            <div class="col-md-6 wel-grid">
                <div class="map">
                    <div id="map"></div>
                </div>
            </div>

            <div id="place-container"class="col-md-6 wel-grid">
                <div id="place"></div>
                {% if user.is_authenticated %}
                <div id="new_comment" class="overflow-auto"></div>
                {% endif %}                
                <div id="comments"></div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
