{% extends 'sitnow/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
Sign Up
{% endblock %}

{% block header_block %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block body_block %}
<div id="content">
  <div class="container">
    <div class="account-switch text-center" >
      {% comment %} <h3 class="h3 mb-3 font-weight-normal">Sign up for SitNow</h3> {% endcomment %}
      <a class="login" href="{% url 'sitnow:login' %}">Log In</a>
      <div class="boundary"></div>
      <a class="signup" href="{% url 'sitnow:register' %}">Sign Up</a>
    </div>

    {% if registered %}
    <div>Thank you for registering.</div>
    <a href="{% url 'sitnow:login' %}">Go to the login page.</a><br />
    <a href="{% url 'sitnow:index' %}">Return to the homepage.</a><br />
    {% else %}
    {% comment %} <div>Register here!</div> {% endcomment %}
    <form id="user_form" method="post" action="{% url 'sitnow:register' %}" enctype="multipart/form-data" class="justify-content-center">
      {% csrf_token %}
      {% comment %} Display each form {% endcomment %}
      <div class="form-group">
          {{ user_form|crispy }}
          {{ profile_form|crispy }}
      </div>
      {% comment %} Provide a button to click to submit the form. {% endcomment %}
      <div class="d-flex justify-content-center"><button id="register-btn" class="btn" type="submit" name="register" class="btn-block">Register</button></div>
    </form>
    {% endif %}

  </div>

</div>



{% endblock %}