{% extends 'sitnow/user.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
SitNow - Setting
{% endblock %}


{% block header_block %}
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
{% endblock %}

{% block setting_block %}
{% if not request.user.is_staff %}
<div class="card">
    <div class="card-body">
        <form id="user_form" method="post" action="{% url 'sitnow:update_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.preferred_name|as_crispy_field }}
            </div>
            <hr/>
            <div class="form-group">
                {{ form.picture|as_crispy_field }}
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}