{% extends 'sitnow/base.html' %}
{% load staticfiles %}

{% block title_block %}
Sit Now - Setting
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
<div id="content">
  <div class="container  clearfix row">
    <div id="left-panel" class="col-3">
      <h4 id="user-name">Welcome, {{ user_profile.preferred_name}}!</h4>
      <img src="/media/{{user_profile.picture}}" alt="User Profile Picture" class="rounded-circle" height="120px" width="120px"> 
      <div><a href="{% url 'sitnow:favorites' %}">My Favorites</a></div>
      <div><a href="{% url 'sitnow:update_profile' %}">Settings</a></div>
      <div><a href="{% url 'sitnow:logout' %}">Log out</a></div>
    </div>

    <div id="right-panel" class="col-9">
      {% block setting_block %} {% endblock %}
    </div>
  </div>
</div>
{% endblock %}