{% extends 'sitnow/base.html' %}
{% load staticfiles %}

{% block title_block %}
SitNow - Setting
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
<div id="setting-content">
  <div class="container clearfix row">
    <div id="left-panel" class="col-3 justify-content-center text-center">
      <h5 id="user-name">Welcome, <br/>{{ user_profile.preferred_name}}!</h5>
      {% if not request.user.is_staff %}
      <img src="/media/{{user_profile.picture}}" alt="User Profile Picture" class="rounded-circle" height="120px" width="120px"> 
      {% endif %}
      <div class="links row  justify-content-center ">
        <a href="{% url 'sitnow:favorites' %}" type="button" class="btn btn-outline-dark btn-block col-7 side-btn">Favorites</a><br/>
        {% if not request.user.is_staff %}
        <a href="{% url 'sitnow:update_profile' %}"  type="button" class="btn btn-outline-dark btn-block col-7  side-btn">Settings</a><br/>
        {% endif %}
        <a href="{% url 'sitnow:logout' %}"  type="button" class="btn btn-outline-dark btn-block col-7  side-btn">Log out</a><br/>
      </div>
    </div>

    <div id="right-panel" class="col-9">
      {% block setting_block %} {% endblock %}
    </div>
  </div>
</div>
{% endblock %}