a.btn.side-btn {
  margin: 6px;
}

#about-content {
  margin: 10vh auto;
  max-height: 600px;
}

.icon-card {
  color: white;
  background-color: #0075b0;
  padding: 3px;
  margin: 6px;
  vertical-align: middle;
  border-radius: 12px;
}
