.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

div#place.row {
  border-style: solid;
  margin: 6px;
}

.col-3,
.col-4 {
  line-height: 2;
}

.place_image {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  padding: 3px;
  /* position: relative; */
  /* top: 50%;
  transform: translate(-50%, -50%); */
}

.places {
  padding: 6px;
}

#left-panel,
#right-panel,
.has-table,
.has-table,
.has-wifi,
.has-socket,
.has-food,
.has-coffee,
.has-computer,
.has-microwave,
.no-eating {
  padding-left: 0;
  padding-right: 0;
}
