#search_form {
  /* border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
  padding: 42px 12px; */
}

#slogan-title {
  color: #005398;
  font-size: 84px;
  font-weight: 1000;
}

#hasTable,
#hasWifi,
#hasSocket,
#noEating,
#hasComputer,
#hasFood,
#hasCoffee,
#hasMicrowave {
  padding: 6px;
}
#left-panel {
  padding: 70px 24px;
}
.asteriskField {
  display: none;
}

#submit-btn {
  color: white;
  background-color: #005398;
}

#index-content {
  margin: 15vh auto;
  /* height: 100vh; */
  max-height: 600px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.choice-btn {
  margin: 3px 0;
}
