/* Set the size of the div element that contains the map */
#map {
  height: 500px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  margin-bottom: 24px;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.comment-rate {
  color: #f8ce0b;
}
/* 
#place_img {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  position: relative;
  top: 0%;
  transform: translateY(-50%);
} */

#user_image {
  width: auto;
  height: 48px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

#map-content {
  margin: 24px auto;
  max-height: 600px;
}

.building-block {
  margin: 0;
}

hr {
  margin: 8px 0;
}

#top-panel h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 3px;
}

.card {
  padding: 12px;
}

#place-container {
  max-height: 600px;
  overflow-x: scroll;
  overflow-y: scroll;
}
#place_img {
  max-height: 200px;
}

.card {
  margin: 4px;
}

.comment-form-card,
.comment-cards {
  padding: 6px;
}
