#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

#mini_map {
  height: 100%; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

p.text-muted {
  margin-bottom: 0;
}

#place1_building,
#place2_building,
#place3_building {
  margin-bottom: 4px;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

#hasTable,
#hasWifi,
#hasSocket,
#noEating,
#hasComputer,
#hasFood,
#hasCoffee,
#hasMicrowave {
  padding: 6px;
}

.comment-rate {
  color: #f8ce0b;
}

/* #place_img {
  display: block;
  margin-top: auto;
  position: relative;
  top: 0%;
  transform: translateY(-50%);
}  */

#search-form {
  margin: 12px;
}

#place1,
#place2,
#place3 {
  margin: 12px;
}

.place-block {
  border-style: solid;
  border-width: thin;
  margin: 3px;
}
