p.text-muted {
  margin-bottom: 0;
}

#place1_building,
#place2_building,
#place3_building {
  margin-bottom: 4px;
}

#place_img {
  display: block;
  /* margin-top: auto; */
  margin-bottom: auto;
  padding: 0;
  position: relative;
  top: 0%;
  /* transform: translateY(-50%); */
}
