#left-panel,
#left-panel {
  padding-left: 0;
  padding-right: 0;
}

#setting-content {
  margin: 10vh auto;
  max-height: 600px;
}

.links {
  margin: 3px;
  padding: 6px 3px;
  width: 100%;
}

.side-btn {
  margin: 3px 0;
}
